/* Style the header */
.header {
    text-align: center;
    background-color: #cc99ff;
    color: white;
    padding: 80px;
}

/* Increase the font size of the h1 element */
.header h1 {
    font-size: 80px;
}
